.not-attempted{
    background: url('../img/icon/logo1.png') !important;
    color: #303030 !important;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.not-answered{
    background: url('../img/icon/logo2.png') !important;
    color: #fff !important;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.que-save{
    background: url('../img/icon/logo3.png') !important;
    color: #fff !important;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.que-mark{
    background: url('../img/icon/logo4.png') !important;
    color: #fff !important;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.que-save-mark{
    background: url('../img/icon/logo5.png') !important;
    color: #fff !important;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}